@{
    ViewBag.Title = "Home";
}

<div align="center">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemErro"]
        </div>
    }

    <div class="box-recebidos">
        <div class="">
            <br />
            <label>Valores Recebidos no Mês</label>
            <p>R$ 977,00</p>
            <br />
        </div>
    </div>
    <div class="box-gastos">
        <div class="">
            <br />
            <label>Valores Gastos no Mês</label>
            <p>R$ 977,00</p>
            <br />
        </div>
    </div>

    <main>
        <div class="calendar">
            <div class="month-indicator">
                <time datetime="2023-05"> Maio 2023 </time>
            </div>
            <div class="day-of-week">
                <div>Seg</div>
                <div>Ter</div>
                <div>Qua</div>
                <div>Qui</div>
                <div>Sex</div>
                <div>Sab</div>
                <div>Dom</div>
            </div>
            <div class="date-grid">
                <button>
                    <time datetime="2023-02-01">1</time>
                </button>
                <button>
                    <time datetime="2023-02-02">2</time>
                </button>
                <button>
                    <time datetime="2023-02-03">3</time>
                </button>
                <button>
                    <time datetime="2023-02-04">4</time>
                </button>
                <button>
                    <time datetime="2023-02-05">5</time>
                </button>
                <button>
                    <time datetime="2023-02-06">6</time>
                </button>
                <button>
                    <time datetime="2023-02-07">7</time>
                </button>
                <button>
                    <time datetime="2023-02-08">8</time>
                </button>
                <button>
                    <time datetime="2023-02-09">9</time>
                </button>
                <button>
                    <time datetime="2023-02-10">10</time>
                </button>
                <button>
                    <time datetime="2023-02-11">11</time>
                </button>
                <button>
                    <time datetime="2023-02-12">12</time>
                </button>
                <button>
                    <time datetime="2023-02-13">13</time>
                </button>
                <button>
                    <time datetime="2023-02-14">14</time>
                </button>
                <button>
                    <time datetime="2023-02-15">15</time>
                </button>
                <button>
                    <time datetime="2023-02-16">16</time>
                </button>
                <button>
                    <time datetime="2023-02-17">17</time>
                </button>
                <button>
                    <time datetime="2023-02-18">18</time>
                </button>
                <button>
                    <time datetime="2023-02-19">19</time>
                </button>
                <button>
                    <time datetime="2023-02-20">20</time>
                </button>
                <button>
                    <time datetime="2023-02-21">21</time>
                </button>
                <button>
                    <time datetime="2023-02-22">22</time>
                </button>
                <button>
                    <time datetime="2023-02-23">23</time>
                </button>
                <button>
                    <time datetime="2023-02-24">24</time>
                </button>
                <button>
                    <time datetime="2023-02-25">25</time>
                </button>
                <button>
                    <time datetime="2023-02-26">26</time>
                </button>
                <button>
                    <time datetime="2023-02-27">27</time>
                </button>
                <button>
                    <time datetime="2023-02-28">28</time>
                </button>
                <button>
                    <time datetime="2023-02-28">29</time>
                </button>
                <button>
                    <time datetime="2023-02-28">30</time>
                </button>
                <button>
                    <time datetime="2023-02-28">31</time>
                </button>
            </div>
        </div>
    </main>
</div>
<style>
    .box-recebidos {
        border: solid;
        border-color: lawngreen;
        width: 20em;
        border-radius: 2em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .box-gastos {
        border: solid;
        border-color: red;
        width: 20em;
        border-radius: 2em;
    }

    main {
        max-width: max-content;
        margin: 3em auto 0 auto;
        padding: 1.5em;
        background-color: #fff;
        border: 2px solid var(--blue-grey-200);
        border-radius: 8px;
    }

    .month-indicator {
        color: var(--blue-grey-700);
        text-align: center;
        font-weight: 500;
    }

    .day-of-week,
    .date-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .day-of-week {
        margin-top: 1.25em;
    }

        .day-of-week > * {
            font-size: 0.7em;
            color: var(--blue-grey-400);
            font-weight: 500;
            letter-spacing: 0.1em;
            font-variant: small-caps;
            text-align: center;
        }

    /* Dates */
    .date-grid {
        margin-top: 0.5em;
    }

        /* Positioning the first day */
        .date-grid button:first-child {
            grid-column: 1;
        }

        .date-grid button {
            position: relative;
            border: 0;
            width: 4.5ch;
            height: 4.5ch;
            border-radius: 50%;
            background-color: transparent;
            color: var(--blue-grey-600);
        }

            .date-grid button:hover,
            .date-grid button:focus {
                outline: none;
                background-color: var(--blue-grey-050);
                color: var(--blue-grey-700);
            }

            .date-grid button:active,
            .date-grid button.is-selected {
                background-color: var(--teal-100);
                color: var(--teal-900);
            }
</style>
