body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 100vh;
    background: var(--blue-grey-100);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

:root {
    --teal-050: #effcf6;
    --teal-100: #c6f7e2;
    --teal-200: #8eedc7;
    --teal-300: #65d6ad;
    --teal-400: #3ebd93;
    --teal-500: #27ab83;
    --teal-600: #199473;
    --teal-700: #147d64;
    --teal-800: #0c6b58;
    --teal-900: #014d40;
    --blue-grey-050: #f0f4f8;
    --blue-grey-100: #d9e2ec;
    --blue-grey-200: #bcccdc;
    --blue-grey-300: #9fb3c8;
    --blue-grey-400: #829ab1;
    --blue-grey-500: #627d98;
    --blue-grey-600: #486581;
    --blue-grey-700: #334e68;
    --blue-grey-800: #243b53;
    --blue-grey-900: #102a43;
}

html {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 125%;
    line-height: 1.4;
    font-weight: 400;
    color: var(--blue-grey-900);
}